body {
  font-family: "Poppins", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;

  background-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prose pre.astro-code {
  @apply rounded-md p-4 text-base leading-snug;
}

.prose p, .prose pre {
  @apply mb-6 leading-normal;
}