@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 95.69%;

    --foreground-primary: 0, 0.97%, 20.2%;
    --foreground-secondary: 0, 0%, 40%;
    --foreground-tertiary: 0, 0%, 66.27%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown {
  @apply prose max-w-max;
}

/* Heading */

.markdown h1 {
  @apply text-3xl font-bold text-inherit;
}

.markdown h2 {
  @apply text-2xl font-semibold mb-4 text-inherit;
}

.markdown h3 {
  @apply text-xl font-semibold mb-4 text-inherit;
}

.markdown h4 {
  @apply text-lg font-semibold mb-4 text-inherit;
}

/* Texts */

.markdown p {
  @apply leading-loose mb-6 font-normal text-foreground-primary/80;
}

.markdown p a {
  @apply underline underline-offset-2 text-gray-700 decoration-gray-700;
}

.markdown ul {
  @apply w-full;
}

.markdown ul>li {
  @apply pl-0 text-foreground-primary/80;
}

.markdown ul>li>a {
  @apply underline underline-offset-2 leading-snug font-semibold inline-block text-inherit;
}

.markdown p code {
  @apply p-1 bg-neutral-300 border-neutral-400 border rounded text-base;
}

.markdown blockquote {
  @apply rounded py-2 px-4 border text-gray-700 border-gray-300 bg-white/20 my-4 transition-colors;
}

.markdown blockquote p {
  @apply m-0;
}

/* Code block */

.expressive-code pre>code {
  @apply text-sm !important;
}

/* .markdown pre { */
/*   @apply rounded-b leading-snug font-mono border-b border-l border-r border-gray-500 mb-6 !important; */
/* } */

/* Assets */

.markdown img {
  @apply rounded mx-auto;
}
