---
import Base from '../components/Base.astro';
---

<Base>
  <div>
    <section class="mb-10">
      <h2 class="mb-4 text-xl font-bold">Formação</h2>

      <div class="bg-app-gray-dark dark:border-app-violet-base dark:bg-app-violet-dark/95 flex flex-col rounded-lg border border-gray-300 px-3 py-2 ">
        <div class="mb-3">
          <div class="font-bold">Análise e Desenvolvimento de Sistemas</div>
          <div class="text-sm text-gray-600 dark:text-gray-500">no IFRN</div>
        </div>

        <p class="mb-2 text-sm font-medium">
          Curso composto por disciplinas de Sistemas digitais, Arquitetura de software, Programação web, Estrutura de dados, Processo de Software. Com ele tive a capacidade de ter um norte para a carreira, e dessa forma seguir em frente com novos desafios.
        </p>

        <span class="text-sm text-gray-600 dark:text-gray-500">Jan de 2020 - Jul de 2023</span>
      </div>
    </section>

    <section>
      <h2 class="mb-4 text-xl font-bold">Experiência profissional</h2>

      <div class="bg-app-gray-dark dark:border-app-violet-base dark:bg-app-violet-dark/95 flex flex-col rounded-lg border border-gray-300 px-3 py-2">
        <div class="mb-3">
          <div class="font-bold">Estágio como Desenvolvedor de software</div>
          <div class="text-sm text-gray-600 dark:text-gray-500">na DIPEQ-IFRN</div>
        </div>

        <p class="mb-2 text-sm font-medium">
          Atuei como desenvolvedor de software de forma abrangente,
          usando habilidades de Front-end, Back-end e Devops. Usando
          técnicas de <span class="hover:text-app-red-light dark:hover:text-app-red-base font-bold">CI/CD</span>,
          <span class="hover:text-app-red-light dark:hover:text-app-red-base font-bold">testes</span>,
          <span class="hover:text-app-red-light dark:hover:text-app-red-base font-bold">UI/UX</span> e
          <span class="hover:text-app-red-light dark:hover:text-app-red-base font-bold">projeto de software</span>.
          Aprendi muitas tecnologias, mas mais importante, aprendi com as minhas escolhas (mais errando do que acertando) &#128517;. E com elas me tornei um desenvolvedor melhor do que ontem.
        </p>

        <span class="text-sm text-gray-600 dark:text-gray-500">Jun de 2022 - Set de 2023</span>
      </div>
    </section>

  </div>
</Base>
