---
import Undraw from 'react-undraw';
import { TypeAnimation } from 'react-type-animation';

import Base from '../components/Base.astro';
import { Header } from '../components/Header';

import '../styles/index.css';

const TITLE = 'matheusinit';
const DESCRIPTION = 'This is my blog';
---

<Base title={TITLE} description={DESCRIPTION}>
  <Header />
  <main class="mt-24 flex h-full w-full justify-center lg:mt-0">
    <div class="flex w-full justify-center px-8 align-middle">
      <div class="my-auto">
        <h1
          class="mb-4 bg-gradient-to-r from-blue-600 to-purple-700 bg-clip-text text-center text-4xl font-bold text-transparent lg:text-start"
        >
          matheusinit
        </h1>
        <p
          class="mb-14 max-w-md text-center font-normal text-gray-600 lg:text-start"
        >
          Olá, me chamo Matheus. Sou apenas um outro desenvolvedor web que gosta
          de codar por codar seja lá o que for
        </p>

        <div class="flex justify-between">
          <a
            href="https://reactjs.org/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="react.svg" alt="React logo" class="w-20" />
          </a>

          <a
            href="https://www.typescriptlang.org/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="typescript.svg" alt="Typescript logo" class="w-16" />
          </a>

          <a
            href="https://astro.build/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="astro.svg" alt="React logo" class="w-16" />
          </a>

          <a
            href="https://tailwindcss.com/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="tailwindcss.svg" alt="React logo" class="w-20" />
          </a>
        </div>

        <div
          class="font-['Cascadia Code'] mx-auto mt-8 w-72 rounded-full bg-gradient-to-br from-blue-600 to-indigo-600 py-2 text-center text-xl font-medium text-white"
        >
          <TypeAnimation
            client:load
            sequence={[
              'Working with React.js',
              1000,
              'Working with Typescript',
              1000,
              'Working with Astro',
              1000,
              'Working with Tailwindcss',
              1000
            ]}
            wrapper="h3"
            repeat={9999}
            speed={30}
          />
        </div>
      </div>

      <div class="ml-60 hidden w-[40rem] lg:block">
        <Undraw name="programming" height="40rem" primaryColor="#2563eb" />
      </div>
    </div>
  </main>
</Base>
