---
import Base from '../components/Base.astro';
import Contacts from '../components/home/contacts.astro';
import ProjectCard from '../components/home/project-card.astro';

const TITLE = 'home • matheusinit';
const DESCRIPTION = 'This is my blog';
---

<Base title={TITLE} description={DESCRIPTION}>
  <main>
    <div class="flex w-full items-center justify-start">
      <h3 class="text-3xl font-bold">Olá, eu sou Matheus &#128512;</h3>
    </div>

    <div class="dark:text-gray-200">
      <p class="mt-8 text-lg font-normal">
        Apaixonado por software, independente da tecnologia. Nesse momento
        aprendendo <span class="font-bold hover:text-app-red-light dark:hover:text-app-red-base">CI/CD</span> e
        <span class="font-bold hover:text-app-red-light dark:hover:text-app-red-base">testes</span>.
      </p>

      <p class="mt-8 text-lg font-normal">
        No último semestre de Análise e Desenvolvimento de Sistemas no IFRN. Meu
        objetivo atual é trabalhar como Desenvolvedor de Software Júnior e
        terminar o <a
          href="https://www.amazon.com.br/Compiladores-princ%C3%ADpios-ferramentas-Alfred-Aho/dp/8588639246"
          class="font-bold underline underline-offset-4 hover:text-app-red-light dark:hover:text-app-red-base"
          target="_blank" rel="noreferrer">livro do Dragão</a
        > &#128517;
      </p>
    </div>

    <section>
      <h4 class="mt-14 mb-6 text-2xl font-bold ">
        &#128736;&#65039; Projetos
      </h4>

      <div class="grid auto-cols-max grid-cols-1 gap-4 md:grid-cols-2 md:gap-3">
        <ProjectCard
          title="authentication-api"
          description="Uma API para autenticação de usuário utilizando testes e SOLID"
          language="Typescript"
          href="https://github.com/matheusinit/authetication-api"
        />

        <ProjectCard
          title="files-manager-backend"
          description="API Rest para gerenciamento de arquivos utilizando Express"
          language="Typescript"
          href="https://github.com/matheusinit/files-manager-backend"
        />

        <ProjectCard
          title="files-manager-frontend"
          description="Aplicação construida com React e Next.js"
          language="Typescript"
          href="https://github.com/matheusinit/files-manager-frontend"
        />

        <ProjectCard
          title="todo-list-flutter"
          description="Um app híbrido de tarefas para mobile feito em Flutter"
          language="Dart"
          href="https://github.com/matheusinit/todo-list-flutter"
        />
      </div>
    </section>

    <div class="pt-20"></div>

    <hr class="border-app-gray-darker dark:border-app-violet-base" />

    <Contacts />
  </main>
</Base>
