---
import Base from '../components/Base.astro';
import LandingPage from '../components/landing-page.astro'

const TITLE = 'Página inicial • matheusinit';
const DESCRIPTION =
  'Um blog de um dev que fala sobre desenvolvimento de software';
---

<Base title={TITLE} description={DESCRIPTION}>
  <div class="flex flex-col items-center pt-16">
    <LandingPage />
  </div>
</Base>
