---
import Base from "../components/Base.astro";
import Link from "../components/link.astro";

import "@/styles/base.css";

import ArrowUpRight from "node_modules/astro-heroicons/outline/ArrowUpRight.astro";

const TITLE = "Página inicial • matheusinit";
const DESCRIPTION =
  "Um blog de um dev que fala sobre desenvolvimento de software";

const CV_LINK =
  "https://docs.google.com/document/d/12tTYKw8gcPDiKaeFXR2aqfUAER0uCKxTlAHb_py9C_A/edit?pli=1";
const LINKEDIN_LINK = "https://www.linkedin.com/in/matheus-oliveira13";
---

<Base title={TITLE} description={DESCRIPTION}>
  <div class="flex flex-col items-center space-y-5">
    <a
      href="/blog"
      class="text-sm px-3 py-1.5 border border-['#C5C5C5'] rounded-full text-primary-foreground hover:bg-primary-foreground hover:text-background transition-colors"
      >Siga no meu blog
    </a>

    <div class="text-secondary-foreground flex flex-col items-center space-y-3">
      <div>
        Desenvolvedor de Software com experiência em
        <span class="font-semibold">Next.js</span>,
        <span class="font-semibold">Node.js</span> e
        <span class="font-semibold">TypeScript</span>
      </div>

      <div>Atuando atualmente como Analista de Dados</div>
    </div>

    <h1 class="font-bold text-[2.5rem] text-primary-foreground">
      Olá, sou Matheus.
    </h1>

    <div class="flex space-x-4">
      <Link
        href={CV_LINK}
        class="bg-primary-foreground hover:bg-primary text-white font-medium"
        target="_blank"
        rel="noopener noreferrer"
      >
        Currículo <ArrowUpRight class="size-3 ml-1 hover:text-inherit" />
      </Link>

      <Link
        href={LINKEDIN_LINK}
        class="border border-secondary-foreground hover:border-primary hover:text-primary text-secondary-foreground font-medium"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn <ArrowUpRight class="size-3 ml-1 hover:text-inherit" />
      </Link>
    </div>

    <div class="text-secondary-foreground absolute bottom-10">
      Desenvolvido por <a
        class="font-semibold underline underline-offset-2 hover:text-primary-foreground"
        href="https://github.com/matheusinit"
        rel="noopener noreferrer"
        target="_blank">matheusinit</a
      >. Código aberto disponível no <a
        class="font-semibold underline underline-offset-2 hover:text-primary-foreground"
        href="https://github.com/matheusinit/blog"
        rel="noopener noreferrer"
        target="_blank">GitHub</a
      >.
    </div>
  </div>
</Base>
