---
import Base from '../components/Base.astro';

const TITLE = 'Página inicial • matheusinit';
const DESCRIPTION = 'Um blog de um dev que fala sobre desenvolvimento web e engenharia de software. Me interesso por testes, serviços cloud, arquitetura de software e entre outros';
---

<Base title={TITLE} description={DESCRIPTION}>
  <div class="flex flex-col items-center pt-16">
    <div class='flex flex-col space-y-4'>
      <div class="inline-block text-[2rem] text-medium-gray">Oi, me chamo Matheus</div>
      <div class="inline-block">
        <div class="text-[9rem] leading-[8rem] font-bold text-dark-gray uppercase">
          Software
        </div>
        <div class="text-[11rem] leading-[140px] font-bold text-dark-gray uppercase">
          Developer
        </div>
      </div>
      <div class="inline-block w-[543px] text-[1.5rem] self-end text-medium-gray">
        Tenho experiência como Desenvolvedor Full Stack com Typescript. Apaixonado por Back-end e por novos aprendizados
        na área da Computação. Atualmente me especializando em Ciência de Dados com Python no TRE/RN.
      </div>
    </div>

    <div class="flex text-light-gray pt-32 text-xl">Esse portfolio e design foi feito com ❤️ por mim!</div>
  </div>
</Base>
