---
import Base from "../components/Base.astro";

import "../styles/index.css";

const TITLE = "matheusinit";
const DESCRIPTION = "This is my blog";
---

<Base title={TITLE} description={DESCRIPTION}>
  <main
    class="mt-20 flex w-full h-full justify-center lg:mt-0 mx-auto md:px-8 xl:px-0 xl:max-w-screen-xl"
  >
    <h3></h3>
  </main>
</Base>
