---
import {
  IconBrandGithub,
  IconBrandLinkedin,
  IconChevronRight,
} from "@tabler/icons";
import Undraw from "react-undraw";
import { TypeAnimation } from "react-type-animation";

import Base from "../components/Base.astro";

import "../styles/index.css";

const TITLE = "matheusinit";
const DESCRIPTION = "This is my blog";
---

<Base title={TITLE} description={DESCRIPTION}>
  <main
    class="mt-20 flex w-full h-full justify-center lg:mt-0 mx-auto md:px-8 xl:px-0 xl:max-w-screen-xl"
  >
    <div class="flex w-full lg:justify-between items-center justify-center">
      <div class="my-auto">
        <div class="mb-8 lg:mb-4">
          <div
            class="text-4xl flex items-center lg:justify-start gap-x-2 justify-center lg:text-5xl"
          >
            <h1
              class="bg-gradient-to-r from-blue-600 to-purple-800 bg-clip-text font-bold text-transparent lg:text-start"
            >
              matheusinit
            </h1>

            <span class="text-4xl">&#x1F44B;</span>
          </div>
          <h3
            class="font-medium dark:text-gray-200 text-gray-600 text-center text-lg lg:text-left"
          >
            <TypeAnimation
              client:load
              sequence={[
                "Construído em ReactJS",
                1000,
                "Construído em Typescript",
                1000,
                "Construído em Astro",
                1000,
                "Construído em TailwindCSS",
                1000,
              ]}
              wrapper="span"
              repeat={9999}
              speed={30}
            />
          </h3>
        </div>

        <div class="mb-16">
          <p
            class="mb-4 max-w-md text-center font-normal text-gray-600 dark:text-gray-200 lg:text-start"
          >
            Olá, me chamo Matheus. Sou apenas um outro desenvolvedor web que
            gosta de codar por codar seja lá o que for
          </p>

          <div class="flex gap-x-2 justify-center lg:justify-start">
            <a
              href="https://github.com/matheusinit"
              class="inline-flex items-center rounded-md shadow dark:bg-gray-700 transition-colors bg-gray-900 text-white px-4 py-2 hover:text-gray-400"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="inline-block">
                <IconBrandGithub client:only="react" />
              </div>
              <div class="ml-1 inline-block align-middle text-lg font-medium">
                Github
              </div>
            </a>

            <a
              href="https://www.linkedin.com/in/matheus-silva13"
              class="inline-flex items-center rounded-md shadow dark:bg-blue-600 transition-colors bg-blue-800 text-white px-4 py-2 hover:text-gray-400"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="inline-block">
                <IconBrandLinkedin client:only="react" />
              </div>
              <div class="ml-1 inline-block align-middle text-lg font-medium">
                LinkedIn
              </div>
            </a>
          </div>
        </div>

        <div
          class="text-sm mb-8 text-center font-medium dark:text-gray-200 text-gray-600 lg:text-left lg:mb-6"
        >
          Esse blog usa as tecnologias
        </div>

        <div class="flex gap-x-8 justify-center lg:justify-start">
          <a
            href="https://reactjs.org/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="react.svg" alt="React logo" class="w-10 lg:w-14" />
          </a>

          <a
            href="https://www.typescriptlang.org/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="typescript.svg"
              alt="Typescript logo"
              class="w-10 lg:w-12"
            />
          </a>

          <a
            href="https://astro.build/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="astro.svg"
              alt="React logo"
              class="w-10 lg:w-12 dark:hidden"
            />
            <img
              src="astro.dark.svg"
              alt="React logo"
              class="w-10 lg:w-12 hidden dark:block"
            />
          </a>

          <a
            href="https://tailwindcss.com/"
            class="flex align-middle"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="tailwindcss.svg" alt="React logo" class="w-10 lg:w-12" />
          </a>
        </div>

        <div class="flex justify-center pb-10 lg:justify-start">
          <a
            href="/blog"
            role="button"
            class="inline-flex items-center border mt-16 text-gray-700 border-gray-700 hover:bg-gray-700 hover:text-gray-50 dark:text-indigo-300 dark:border-indigo-500 dark:hover:bg-indigo-600 dark:hover:border-indigo-600 transition-colors dark:bg-transparent dark:hover:text-gray-200 pl-4 pr-2 py-2 rounded-md duration-400"
          >
            <span class="font-medium text-base">
              <span class="hidden lg:block">Blog</span>
              <span class="lg:hidden">Ir para o blog</span>
            </span>
            <span class="font-medium text-base"></span>
            <div class="inline-block">
              <IconChevronRight client:only="react" />
            </div>
          </a>
        </div>
      </div>

      <div class="ml-60 hidden w-[33rem] lg:block">
        <Undraw
          name="programming"
          height="33rem"
          primaryColor="#2563eb"
          client:only="react"
        />
      </div>
    </div>
  </main>
</Base>
