---
import { Card } from "../components/Card";
import Base from "../components/Base.astro";
import { Header } from "../components/Header";

const TITLE = "matheusinit";
const DESCRIPTION = "This is my blog";
---

<Base title={TITLE} description={DESCRIPTION}>
  <Header />
  <main class="pt-20 w-full flex justify-center">
    <div class="text-5xl text-slate-700">Hello World</div>
  </main>
</Base>
