---
import { IconBrandGithub, IconBrandLinkedin } from "@tabler/icons";
import Base from "../components/Base.astro";
import ProjectCard from "../components/home/project-card.astro";

const TITLE = "home • matheusinit";
const DESCRIPTION = "This is my blog";
---

<Base title={TITLE} description={DESCRIPTION}>
  <main
    class="mt-20 flex flex-col w-full h-full justify-center lg:mt-0 mx-auto md:px-8 xl:px-0 md:max-w-screen-md text-white"
  >
    <div class="flex justify-start w-full items-center">
      <h3 class="font-bold text-3xl">Olá, eu sou Matheus &#128512;</h3>
    </div>

    <p class="font-normal mt-8 text-lg">
      Apaixonado por software, independente da tecnologia. Nesse momento
      aprendendo <span class="font-bold hover:text-app-red-base">CI/CD</span> e <span
        class="font-bold hover:text-app-red-base">testes</span
      >.
    </p>

    <p class="font-normal mt-8 text-lg">
      No útlimo semestre de Análise e Desenvolvimento de Sistemas no IFRN. Meu
      objetivo atual é trabalhar como Desenvolvedor de Software Júnior e
      terminar o <a
        href="https://www.amazon.com.br/Compiladores-princ%C3%ADpios-ferramentas-Alfred-Aho/dp/8588639246"
        class="underline hover:text-app-red-base font-bold underline-offset-4"
        target="_blank">livro do Dragão</a
      > &#128517;
    </p>

    <h4 class="text-2xl font-bold mt-14 mb-6">&#128736;&#65039; Projetos</h4>

    <div class="grid grid-cols-2 gap-3 auto-cols-max">
      <ProjectCard
        title="authentication-api"
        description="Uma API para autenticação de usuário utilizando testes e SOLID"
        language="Typescript"
      />

      <ProjectCard
        title="authentication-api"
        description="Uma API para autenticação de usuário utilizando testes e SOLID"
        language="Typescript"
      />

      <ProjectCard
        title="authentication-api"
        description="Uma API para autenticação de usuário utilizando testes e SOLID"
        language="Typescript"
      />

      <ProjectCard
        title="authentication-api"
        description="Uma API para autenticação de usuário utilizando testes e SOLID"
        language="Typescript"
      />
    </div>

    <div class="pt-20"></div>

    <hr class="border-violet-not-much-dark" />

    <div class="flex flex-col justify-center items-center mt-6 text-gray-500">
      <span>Se interessou? Contate me no LinkedIn</span>

      <div class="mt-3 flex gap-x-3">
        <a href="https://github.com/matheusinit" target="_blank">
          <IconBrandGithub
            client:load
            className="h-8 w-8 hover:text-white text-gray-400 hover:scale-110"
          />
        </a>

        <a href="https://github.com/matheusinit" target="_blank">
          <IconBrandLinkedin
            client:load
            className="h-8 w-8 hover:text-white text-gray-400 hover:scale-110"
          />
        </a>
      </div>
    </div>
  </main>
</Base>
