---
import { IconBrandGithub, IconBrandLinkedin } from '@tabler/icons';
---

<div class="mt-6 flex flex-col items-center justify-center pb-8 text-gray-500">
  <span>Se interessou? Contate me no LinkedIn</span>

  <div class="mt-3 flex gap-x-3">
    <a href="https://github.com/matheusinit" target="_blank" rel="noreferrer">
      <IconBrandGithub
        client:only="react"
        className="h-8 w-8 text-gray-400 hover:scale-110 hover:text-white"
      />
    </a>

    <a href="https://github.com/matheusinit" target="_blank" rel="noreferrer">
      <IconBrandLinkedin
        client:only="react"
        className="h-8 w-8 text-gray-400 hover:scale-110 hover:text-white"
      />
    </a>
  </div>
</div>
