---
import { IconBrandGithub, IconBrandLinkedin } from "@tabler/icons";
---

<div class="flex flex-col justify-center items-center mt-6 pb-8 text-gray-500">
  <span>Se interessou? Contate me no LinkedIn</span>

  <div class="mt-3 flex gap-x-3">
    <a href="https://github.com/matheusinit" target="_blank">
      <IconBrandGithub
        client:only="react"
        className="h-8 w-8 hover:text-white text-gray-400 hover:scale-110"
      />
    </a>

    <a href="https://github.com/matheusinit" target="_blank">
      <IconBrandLinkedin
        client:only="react"
        className="h-8 w-8 hover:text-white text-gray-400 hover:scale-110"
      />
    </a>
  </div>
</div>
