<nav class="text-app-red-base mt-4 text-base font-semibold">
  <ul class="flex gap-x-4">
    <li class="underline hover:underline underline-offset-4">
      <a href="">Home</a>
    </li>

    <li class="hover:underline underline-offset-4">
      <a href="/blog">Blog</a>
    </li>

    <li class="hover:underline underline-offset-4">
      <a href="http://github.com/matheusinit" target="_blank">Github</a>
    </li>
  </ul>
</nav>
