---
import { ArrowTopRightOnSquareIcon } from '@heroicons/react/24/solid';
import { clsx } from 'clsx';

const { pathname } = Astro.url;
---

<nav class="mt-6 text-base font-semibold text-app-red-light dark:text-app-red-base md:px-0">
  <ul class="flex gap-x-4">
    <li
      class={clsx(
        pathname === '/' && 'underline',
        'underline-offset-4 hover:underline'
      )}
    >
      <a href="/">Home</a>
    </li>

    <li
      class={clsx(
        pathname === '/blog' && 'underline',
        'underline-offset-4 hover:underline'
      )}
    >
      <a href="/blog">Blog</a>
    </li>

    <li
      class={clsx(
        pathname === '/experience' && 'underline',
        'underline-offset-4 hover:underline'
      )}
    >
      <a href="/experience">Experiência</a>
    </li>

    <li class="underline-offset-4 hover:underline">
      <a class="flex items-center gap-x-1" href="http://github.com/matheusinit" target="_blank" rel="noreferrer">
        <span>Github</span>
        <ArrowTopRightOnSquareIcon client:only="react" className="h-4 w-4" />
      </a>
    </li>
  </ul>
</nav>
