---
import { clsx } from 'clsx';

const { pathname } = Astro.url;
---

<nav class="text-app-red-base mt-3 text-base font-semibold">
  <ul class="flex gap-x-4">
    <li
      class={clsx(
        pathname === '/' && 'underline',
        'underline-offset-4 hover:underline'
      )}
    >
      <a href="/">Home</a>
    </li>

    <li
      class={clsx(
        pathname === '/blog' && 'underline',
        'underline-offset-4 hover:underline'
      )}
    >
      <a href="/blog">Blog</a>
    </li>

    <li class="underline-offset-4 hover:underline">
      <a href="http://github.com/matheusinit" target="_blank" rel="noreferrer">Github</a>
    </li>
  </ul>
</nav>
