---
type Props = {
  title: string;
  description: string;
  language: string;
  href?: string;
};

const { title, description, language, href = '/' } = Astro.props as Props;
---

<a href={href} target="_blank" rel="noreferrer">
  <div
    class="bg-app-violet-dark/95 border-app-violet-base hover:bg-app-violet-darker hover:border-app-violet-darker h-36 cursor-pointer rounded-md border p-4 transition-colors"
  >
    <div class="flex h-full flex-col">
      <span class="text-app-red-base text-lg font-medium">{title}</span>

      <p class="mt-1 flex-auto text-sm text-gray-300">
        {description}
      </p>

      <div class="mt-3 flex items-center gap-x-2 text-gray-300">
        <span>•</span>
        <span class="text-sm">{language}</span>
      </div>
    </div>
  </div>
</a>
