---
import '../styles/base.css';
import BaseHead from './BaseHead.astro';
import HeaderStatic from './HeaderStatic.astro';

const { title } = Astro.props;
---

<head>
  <BaseHead title={title} />
</head>
<body
  class="bg-app-gray-base font-display text-neutral-700 transition-colors dark:bg-app-violet-dark dark:text-gray-50"
>
  <div class="mx-auto h-full w-full px-4 md:max-w-screen-md md:px-0">
    <HeaderStatic />

    <div class="md:mt-4">
      <slot />
    </div>
  </div>
</body>
