---
import clsx from "clsx";
import "../styles/base.css";
import BaseHead from "./BaseHead.astro";
import Header from "./header.astro";

const { title, description } = Astro.props;
const { pathname: currentPath } = Astro.url;

const classProp = clsx(
  "mx-auto size-full",
  currentPath.includes("blog") ? "max-w-[740px]" : "max-w-[1120px]",
);
---

<head>
  <BaseHead title={title} description={description} />
</head>
<body
  class="bg-background font-display font-normal text-foreground-primary transition-colors"
>
  <div class={classProp}>
    <Header />

    <div class="md:mt-4">
      <slot />
    </div>
  </div>
</body>
