---
import '../styles/base.css';
import BaseHead from './BaseHead.astro';
import Header from './header.astro'

const { title, description } = Astro.props;
---

<head>
  <BaseHead title={title} description={description} />
</head>
<body
  class="bg-light-rose font-display font-normal text-dark-gray transition-colors"
>
  <div class="mx-auto size-full max-w-[1120px]">
    <Header />

    <div class="md:mt-4">
      <slot />
    </div>
  </div>
</body>
