---
import { Header } from "../components/Header";

import "../styles/base.css";
import { getPathPath } from "../utils/getPagePath";
import BaseHead from "./BaseHead.astro";

const { title, description, activeNavLink } = Astro.props;

const currentPage = activeNavLink ?? getPathPath(Astro.request.url);
---

<head>
  <BaseHead title={title} />
</head>
<body>
  <Header activePagePath={currentPage} client:load />

  <slot />
</body>
