---
import { Header } from '../components/Header';

import '../styles/base.css';
import BaseHead from './BaseHead.astro';

const {
  title,
  description,
  activeNavLink = '/'
} = Astro.props;
---

<head>
  <BaseHead title={title} description={description} />
</head>
<body>
  <Header activePagePath={activeNavLink} />

  <slot />
</body>
