---
const { title, description, date, url } = Astro.props;

import dayjs from "dayjs";

function formatDate(dateString: string) {
  return dayjs(dateString).format("DD [de] MMMM [de] YYYY");
}
---

<a href={url} class="flex items-center space-x-3 relative">
  <div class="absolute w-[2px] h-[80%] bg-blue-600 rounded-sm"></div>

  <div class="flex flex-col gap-y-2">
    <div class="text-secondary-foreground text-xs">{formatDate(date)}</div>
    <div class="text-xl font-semibold text-primary-foreground">
      {title}
    </div>
    <div class="text-secondary-foreground">
      {description}
    </div>
  </div>
</a>
