---

---

<div class="flex mb-5 items-center space-x-3">
  <div class="w-2.5 h-36 bg-blue-600 rounded-sm"></div>

  <div class="flex flex-col gap-y-2">
    <div class="text-secondary-foreground text-xs">31 de maio de 2024</div>
    <div class="text-[22px] font-semibold text-primary-foreground">
      Escalabilidade de Banco de Dados Relacional
    </div>
    <div class="text-secondary-foreground">
      Neste blog post, discutiremos estratégias e práticas para escalar bancos
      de dados relacionais utilizando PostgreSQL. A escalabilidade é crucial
      para garantir que sua aplicação continue a funcionar de forma eficiente à
      medida que a quantidade de dados e o número de usuários aumentam.
    </div>
  </div>
</div>
