---
const GITHUB_URL = 'https://github.com/matheusinit'
---
<div class="w-full border-t border-light-gray/40 flex items-center justify-between py-4">
  <a href={GITHUB_URL} class="border border-transparent hover:border-bg-gray-500/50 hover:bg-gray-500/10 h-10 w-10 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50" target="_blank" rel="noreferrer">
    <img src="/vector/github.svg" alt="Logo do GitHub" class="size-5">
  </a>
  <span class="text-sm text-light-gray 2xl:text-base">Made in Astro</span>
</div>
