---
import NavLink from "./nav-link.astro";

import { EmailContent } from "./email-content";
---

<header class="flex justify-between pt-6 font-sm font-medium">
  <div class="flex space-x-1.5 items-center">
    <img src="/logo.svg" alt="Logo" class="size-6" />

    <nav class="">
      <ul class="flex space-x-3">
        <li>
          <NavLink href="/">Início</NavLink>
        </li>
        <li>
          <NavLink href="/blog">Blog</NavLink>
        </li>
      </ul>
    </nav>
  </div>

  <EmailContent client:load />
</header>
