---
import NavLink from './nav-link.astro'

---
<header>
  <nav>
    <ul class='flex space-x-14 pt-6 text-[1.1rem]'>
      <li>
        <NavLink href="/">Início</NavLink>
      </li>
      <li><NavLink href='/blog'>Blog</NavLink></li>
    </ul>
  </nav>
</header>
