---
import NavLink from './nav-link.astro';
---

<header>
  <nav>
    <ul class="flex space-x-6 pt-6 text-base">
      <li>
        <NavLink href="/">Início</NavLink>
      </li>
      <li><NavLink href="/blog">Blog</NavLink></li>
    </ul>
  </nav>
</header>
