---
import NavLink from "./nav-link.astro";
---

<header>
  <nav>
    <ul class="flex items-center space-x-6 pt-6 text-base">
      <li>
        <NavLink href="/">
          <img src="/logo.svg" alt="Logo" class="size-6 mr-2" />

          Início
        </NavLink>
      </li>
      <li><NavLink href="/blog">Blog</NavLink></li>
    </ul>
  </nav>
</header>
