---
import clsx from 'clsx';

type Props = {
  href: string;
};

const { pathname: currentPathname } = Astro.url;

const { href } = Astro.props as Props;

const classProps = clsx(
  'font-medium transition-colors',
  href === currentPathname
    ? 'text-dark-gray'
    : 'text-light-gray hover:text-dark-gray'
);
---

<a href={href} class={classProps}>
  <slot />
</a>
