---
import clsx from "clsx";

type Props = {
  href: string;
};

const { pathname: currentPathname } = Astro.url;

const { href } = Astro.props as Props;

const classProps = clsx(
  "font-medium transition-colors flex items-center space-x-2",
  href === currentPathname
    ? "text-foreground-primary"
    : "text-foreground-tertiary hover:text-foreground-primary",
);
---

<a href={href} class={classProps}>
  <slot />
</a>
