---
import BaseHead from "../components/BaseHead.astro";

import "@fontsource/jetbrains-mono";
import "../styles/base.css";
import Footer from "../components/footer.astro";
import dayjs from "dayjs";
import updateLocale from "dayjs/plugin/updateLocale";
import "dayjs/locale/pt-br";

dayjs.extend(updateLocale);
dayjs.locale("pt-br");

import Base from "../components/Base.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    tags?: string[];
    minutesRead: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Base>
    <div class="relative pb-28">
      <main class="font-sans max-w-[740px] mx-auto">
        <div class="mb-8 pt-8 flex flex-col space-y-3">
          <span class="text-sm text-secondary-foreground"
            >{dayjs(pubDate).format("DD [de] MMMM [de] YYYY")}</span
          >

          <h1 class="text-2xl font-bold text-gray-600">
            {title}
          </h1>
        </div>

        <div class="markdown text-base">
          <p>{description}</p>

          <slot />
        </div>
      </main>

      <Footer />
    </div>
  </Base>
</html>
